*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #256CDA;
    font-family: 'raleway';
}

#container{
    width: 40vw;
    height: 100vh;
    margin-left: 60vw;
    background-color: white;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

h1{
    font-size: 50px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #256CDA;
    padding-top: 50px;
    margin-left: 50px;
}

#container p{
    color: #989898;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin-left: 55px;
    margin-top: 20px;
}


form{
    margin-left: 55px;
    margin-top: 50px;
}

label{
    display: block;
    padding: 30px 0 30px 0;
    
}

label input[type="text"]{
    border: none;
    outline: none;
    border-bottom: 1px solid #000000;
    width: 30vw;
    line-height: 30px;
    font-weight: bolder;
    color: #256CDA;
}

label input[type="button"]{
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 15px;
    width: 180px;
    height: 40px;
    line-height: 30px;
    font-weight: bolder;
    color: white;
    background-color: #256CDA;
    padding-left: 10px;
    
}

#round{
    position: relative;
    background-color:white;
    margin-top: -35px;
    width: 30px;
    height: 30px;
    border-radius: 60px;
    margin-left: 5px;
}
#round::before{
    content: url(./fly.png);
    display: block;
    position: absolute;
    top: 8px;
    left: 5px;
}

#pic{
    position: absolute;
    top: 10vh;
    left: 10vw;
}

img{
    width: 400px;
}

#container2{
    width: 60vw;
    height: 5vh;
    margin-top: -6vh;
    position: relative;
    box-sizing: border-box;
}

#address{
    position: absolute;
    left: 150px;
    top: 13px;
}

#line{
    width: 160px;
    border: 1px solid white;
    position: absolute;
    left: 320px;
    top: 20px;
}

#num{
    position: absolute;
    left: 500px;
    top: 13px;
} 


  p{
    color: white;
    font-size: 0.8em;
    text-transform: uppercase;
} 
