*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #256CDA;
    font-family: 'Raleway';
}

#container{
    width: 80vw;
    height: 80vh;
    margin-top: 10vh;
    margin-left: 10vw;
}

img{
    height: 70vh;
    position: absolute;
    left: 60vw;
    top: 10vh;
}

h4{
    font-family: sans-serif;
    color: white;
    font-weight: lighter;
    margin-left: 20px;
}

h1{
    color: white;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: bolder;
    margin-top: 20px;
}

.btn input[type="button"]{
    width: 260px;
    height: 55px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 1.1em;
    padding: 5px 15px 5px 0px;
    text-transform: uppercase;
    text-align: right;
    background-color: white;
}

.btn input[type="button"]:hover{
    width: 250px;
}

.round{
    position: relative;
    background-color: #256CDA;
    width: 38px;
    height: 38px;
    border-radius: 60px;
    top: -56px;
    left: 10px;
}
.round::before{
    content: url(./ios.png);
    width: 50px;
    height: 10px;
    display: block;
    position: absolute;
    top: 8px;
    left: 7px;
}

.btn1 input[type="button"]{
    width: 280px;
    height: 55px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    border-radius: 30px;
    font-size: 1.1em;
    padding: 5px 15px 5px 15px;
    text-transform: uppercase;
    text-align: right;
    background-color: white;
}

.btn1 input[type="button"]:hover{
    width:270px;
    padding: 4px 13px 4px 0px;
}

.round1{
    position: relative;
    background-color: #256CDA;
    width: 38px;
    height: 38px;
    border-radius: 60px;
    top: -57px;
    left: 10px;
}
.round1::before{
    content: url(./Group.png);
    display: block;
    position: absolute;
    top: 7px;
    left: 12px;
}